In [35]:
# Import our dependencies

from path import Path
import pandas as pd

In [36]:
#Connect Python to Postgres
import psycopg2
engine = psycopg2.connect(
    database="postgres",
    user="postgres",
    password="password",
    host="happiness.c45odizugug2.us-east-2.rds.amazonaws.com",
    port='5432'
)

In [37]:
#Read Csv File 
file = Path('Resources/Life Expectancy Data.csv')
life_expect_df = pd.read_csv(file)
life_expect_df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [38]:
life_expect_df.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [39]:
life_expect_df.dtypes

Country                             object
Year                                 int64
Status                              object
Life expectancy                    float64
Adult Mortality                    float64
infant deaths                        int64
Alcohol                            float64
percentage expenditure             float64
Hepatitis B                        float64
Measles                              int64
 BMI                               float64
under-five deaths                    int64
Polio                              float64
Total expenditure                  float64
Diphtheria                         float64
 HIV/AIDS                          float64
GDP                                float64
Population                         float64
 thinness  1-19 years              float64
 thinness 5-9 years                float64
Income composition of resources    float64
Schooling                          float64
dtype: object

In [40]:
file = Path('Resources/hfi_cc_2020.csv')
freedom_df = pd.read_csv(file)
freedom_df.head()

,Unnamed: 0,year,ISO_code,countries,region,hf_score,hf_rank,hf_quartile,pf_rol_procedural,pf_rol_civil,...,ef_regulation_business_bureaucracy,ef_regulation_business_start,ef_regulation_business_bribes,ef_regulation_business_licensing,ef_regulation_business_compliance,ef_regulation_business,ef_regulation,ef_score,ef_rank,womens_freedom
0,0,2018,ALB,Albania,Eastern Europe,7.81,43.0,2.0,6.0,4.8,...,6.7,9.7,5.4,5.6,7.2,6.7,7.7,7.80,26.0,9.26
1,1,2017,ALB,Albania,Eastern Europe,7.78,44.0,2.0,6.3,4.4,...,6.7,9.7,6.0,6.0,7.2,7.0,7.9,7.70,36.0,9.26
2,2,2016,ALB,Albania,Eastern Europe,7.63,50.0,2.0,6.7,4.5,...,6.0,9.7,6.0,7.3,7.1,7.0,7.6,7.69,36.0,7.50
3,3,2015,ALB,Albania,Eastern Europe,7.55,52.0,2.0,6.7,4.5,...,6.0,9.7,6.0,7.3,7.1,7.0,7.7,7.70,34.0,7.50
4,4,2014,ALB,Albania,Eastern Europe,7.65,48.0,2.0,6.1,4.8,...,6.0,9.7,6.0,7.2,6.0,6.8,7.8,7.65,37.0,7.50

In [41]:
freedom_df.columns

Index(['Unnamed: 0', 'year', 'ISO_code', 'countries', 'region', 'hf_score',
       'hf_rank', 'hf_quartile', 'pf_rol_procedural', 'pf_rol_civil',
       ...
       'ef_regulation_business_bureaucracy', 'ef_regulation_business_start',
       'ef_regulation_business_bribes', 'ef_regulation_business_licensing',
       'ef_regulation_business_compliance', 'ef_regulation_business',
       'ef_regulation', 'ef_score', 'ef_rank', 'womens_freedom'],
      dtype='object', length=113)

In [42]:
freedom_df.dtypes

Unnamed: 0                  int64
year                        int64
ISO_code                   object
countries                  object
region                     object
                           ...
ef_regulation_business    float64
ef_regulation             float64
ef_score                  float64
ef_rank                   float64
womens_freedom            float64
Length: 113, dtype: object

In [43]:
file = Path('Resources/2018.csv')
happiness_df = pd.read_csv(file)
happiness_df.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [44]:
happiness_df.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [45]:
happiness_df.dtypes

Overall rank                      int64
Country or region                object
Score                           float64
GDP per capita                  float64
Social support                  float64
Healthy life expectancy         float64
Freedom to make life choices    float64
Generosity                      float64
Perceptions of corruption       float64
dtype: object

In [46]:
#Merge dataframe
merge1 = freedom_df.merge(life_expect_df, how = 'inner', right_on = ['Country'], left_on = ['countries'])
merge1[['countries', 'Country']].head()

  countries  Country
0   Albania  Albania
1   Albania  Albania
2   Albania  Albania
3   Albania  Albania
4   Albania  Albania

In [47]:
#Merge all Dataframe
final_merge = merge1.merge(happiness_df, how = 'inner', right_on = ['Country or region'], left_on = ['Country'])
final_merge[['Country or region', 'Country']].head()

  Country or region  Country
0           Albania  Albania
1           Albania  Albania
2           Albania  Albania
3           Albania  Albania
4           Albania  Albania

In [48]:
final_merge.head()

,Unnamed: 0,year,ISO_code,countries,region,hf_score,hf_rank,hf_quartile,pf_rol_procedural,pf_rol_civil,...,Schooling,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,0,2018,ALB,Albania,Eastern Europe,7.81,43.0,2.0,6.0,4.8,...,14.2,112,Albania,4.586,0.916,0.817,0.79,0.419,0.149,0.032
1,0,2018,ALB,Albania,Eastern Europe,7.81,43.0,2.0,6.0,4.8,...,14.2,112,Albania,4.586,0.916,0.817,0.79,0.419,0.149,0.032
2,0,2018,ALB,Albania,Eastern Europe,7.81,43.0,2.0,6.0,4.8,...,14.2,112,Albania,4.586,0.916,0.817,0.79,0.419,0.149,0.032
3,0,2018,ALB,Albania,Eastern Europe,7.81,43.0,2.0,6.0,4.8,...,14.2,112,Albania,4.586,0.916,0.817,0.79,0.419,0.149,0.032
4,0,2018,ALB,Albania,Eastern Europe,7.81,43.0,2.0,6.0,4.8,...,13.3,112,Albania,4.586,0.916,0.817,0.79,0.419,0.149,0.032