## Import Dependencies

In [2]:
# Import AWS_Password file
from google.colab import files

src = list(files.upload().values())[0]
open('mylib.py','wb').write(src)
import mylib

Saving AWS_Password.py to AWS_Password.py

In [4]:
AWS_Password.password

'password'

In [5]:
#What kind of model
# Scikit-Learn Model Selection 
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

## Connect to Databases and Clean & Pre-Process the Data (Happiness, Freedom, Life Expectancy)

In [6]:
#Connect Python to Postgres
import psycopg2
engine = psycopg2.connect(
    database="postgres",
    user="postgres",
    password=AWS_Password.password,
    host="happiness.c45odizugug2.us-east-2.rds.amazonaws.com",
    port='5432'
)
cursor = engine.cursor()
try:
    cursor.execute("""Select * From "World_Happiness_2015_2016_Report";""")
except (Exception, psycopg2.DatabaseError) as error:
    print("Error: %s" % error)
    cursor.close()
    
# Naturally we get a list of tuples
tuples = cursor.fetchall()
colnames = [desc[0] for desc in cursor.description]
cursor.close()
# We just need to turn it into a pandas dataframe
Happiness_Report_2015_2016_df = pd.DataFrame(tuples, columns=colnames)

In [7]:
# View Happiness_Report_2015_2016_df
Happiness_Report_2015_2016_df

     index      country  ... dystopia_residual  year
0        1  Switzerland  ...           2.51738  2015
1        2      Iceland  ...           2.70201  2015
2        3      Denmark  ...           2.49204  2015
3        4       Norway  ...           2.46531  2015
4        5       Canada  ...           2.45176  2015
..     ...          ...  ...               ...   ...
310    311        Benin  ...           2.10812  2016
311    312  Afghanistan  ...           2.14558  2016
312    313         Togo  ...           2.13540  2016
313    314        Syria  ...           0.81789  2016
314    315      Burundi  ...           2.10404  2016

[315 rows x 13 columns]

In [8]:
# Drop Index Column from Happiness dataframe
Happiness_Report_2015_2016_df = Happiness_Report_2015_2016_df.drop("index", axis=1)
Happiness_Report_2015_2016_df

         country                           region  ...  dystopia_residual  year
0    Switzerland                   Western Europe  ...            2.51738  2015
1        Iceland                   Western Europe  ...            2.70201  2015
2        Denmark                   Western Europe  ...            2.49204  2015
3         Norway                   Western Europe  ...            2.46531  2015
4         Canada                    North America  ...            2.45176  2015
..           ...                              ...  ...                ...   ...
310        Benin               Sub-Saharan Africa  ...            2.10812  2016
311  Afghanistan                    Southern Asia  ...            2.14558  2016
312         Togo               Sub-Saharan Africa  ...            2.13540  2016
313        Syria  Middle East and Northern Africa  ...            0.81789  2016
314      Burundi               Sub-Saharan Africa  ...            2.10404  2016

[315 rows x 12 columns]

In [9]:
# Remove NaNs from Happiness dataframe
Happiness_Report_2015_2016_df=Happiness_Report_2015_2016_df.dropna()
Happiness_Report_2015_2016_df

         country                           region  ...  dystopia_residual  year
0    Switzerland                   Western Europe  ...            2.51738  2015
1        Iceland                   Western Europe  ...            2.70201  2015
2        Denmark                   Western Europe  ...            2.49204  2015
3         Norway                   Western Europe  ...            2.46531  2015
4         Canada                    North America  ...            2.45176  2015
..           ...                              ...  ...                ...   ...
310        Benin               Sub-Saharan Africa  ...            2.10812  2016
311  Afghanistan                    Southern Asia  ...            2.14558  2016
312         Togo               Sub-Saharan Africa  ...            2.13540  2016
313        Syria  Middle East and Northern Africa  ...            0.81789  2016
314      Burundi               Sub-Saharan Africa  ...            2.10404  2016

[315 rows x 12 columns]

In [10]:
# Remove Duplicates from Happiness dataframe
Happiness_Report_2015_2016_df=Happiness_Report_2015_2016_df.drop_duplicates()
Happiness_Report_2015_2016_df

         country                           region  ...  dystopia_residual  year
0    Switzerland                   Western Europe  ...            2.51738  2015
1        Iceland                   Western Europe  ...            2.70201  2015
2        Denmark                   Western Europe  ...            2.49204  2015
3         Norway                   Western Europe  ...            2.46531  2015
4         Canada                    North America  ...            2.45176  2015
..           ...                              ...  ...                ...   ...
310        Benin               Sub-Saharan Africa  ...            2.10812  2016
311  Afghanistan                    Southern Asia  ...            2.14558  2016
312         Togo               Sub-Saharan Africa  ...            2.13540  2016
313        Syria  Middle East and Northern Africa  ...            0.81789  2016
314      Burundi               Sub-Saharan Africa  ...            2.10404  2016

[315 rows x 12 columns]

In [11]:
#Connect Python to Postgres
import psycopg2
engine = psycopg2.connect(
    database="postgres",
    user="postgres",
    password=AWS_Password.password,
    host="happiness.c45odizugug2.us-east-2.rds.amazonaws.com",
    port='5432'
)
cursor = engine.cursor()
try:
    cursor.execute("""SELECT*FROM public."Human_Freedom_Index";""")
except (Exception, psycopg2.DatabaseError) as error:
    print("Error: %s" % error)
    cursor.close()
    
# Naturally we get a list of tuples
tuples = cursor.fetchall()
colnames = [desc[0] for desc in cursor.description]
cursor.close()
# We just need to turn it into a pandas dataframe
Human_Freedom_Index_df = pd.DataFrame(tuples, columns=colnames)

In [12]:
Human_Freedom_Index_df

        id  year iso_code    countries  ... ef_rank     hf_score hf_rank hf_quartile
0        1  2016      ALB      Albania  ...    34.0  7.568140288    48.0         2.0
1        2  2016      DZA      Algeria  ...   159.0  5.135886055   155.0         4.0
2        3  2016      AGO       Angola  ...   155.0  5.640662182   142.0         4.0
3        4  2016      ARG    Argentina  ...   160.0  6.469847841   107.0         3.0
4        5  2016      ARM      Armenia  ...    29.0  7.241401801    57.0         2.0
...    ...   ...      ...          ...  ...     ...          ...     ...         ...
1453  1454  2008      VEN    Venezuela  ...   140.0  5.257879328   136.0         4.0
1454  1455  2008      VNM      Vietnam  ...   103.0  6.420206308   106.0         3.0
1455  1456  2008      YEM  Yemen, Rep.  ...     NaN         None     NaN         NaN
1456  1457  2008      ZMB       Zambia  ...    57.0  6.647724406    95.0         3.0
1457  1458  2008      ZWE     Zimbabwe  ...   138.0  4.935570731   140.0         4.0

[1458 rows x 124 columns]

In [13]:
# Select columns to keep from the original Human_Freedom_Index csv
new_human_freedom_index_df = Human_Freedom_Index_df[["year", "countries", "pf_rol", "pf_ss", "pf_movement", "pf_religion", "pf_association", "pf_expression", "pf_identity", "pf_score", "ef_government", "ef_legal", "ef_money", "ef_trade", "ef_regulation", "ef_score", "hf_score"]]
new_human_freedom_index_df

      year    countries       pf_rol  ... ef_regulation ef_score     hf_score
0     2016      Albania  5.291751647  ...   6.906901139     7.54  7.568140288
1     2016      Algeria  3.819566026  ...   5.268992397     4.99  5.135886055
2     2016       Angola  3.451813885  ...   5.518500441     5.17  5.640662182
3     2016    Argentina  5.744791027  ...   5.369018774     4.84  6.469847841
4     2016      Armenia  5.003205353  ...   7.378068688     7.57  7.241401801
...    ...          ...          ...  ...           ...      ...          ...
1453  2008    Venezuela  3.100000000  ...   4.666935504     4.22  5.257879328
1454  2008      Vietnam  5.600000000  ...   6.307577197     6.19  6.420206308
1455  2008  Yemen, Rep.         None  ...          None     None         None
1456  2008       Zambia  4.400000000  ...   6.722174633     7.15  6.647724406
1457  2008     Zimbabwe  3.700000000  ...   4.488891553     4.55  4.935570731

[1458 rows x 17 columns]

In [14]:
#print(Human_Freedom_Index_df.isnull().sum().)
print(pd.DataFrame(new_human_freedom_index_df.isnull().sum()))

                  0
year              0
countries         0
pf_rol           80
pf_ss            80
pf_movement      80
pf_religion      90
pf_association  329
pf_expression    80
pf_identity      80
pf_score         80
ef_government    80
ef_legal         80
ef_money         82
ef_trade         81
ef_regulation    80
ef_score         80
hf_score         80

In [15]:
# Remove NaNs from Human Freedom Index dataframe
new_human_freedom_index_df= (new_human_freedom_index_df.dropna())
new_human_freedom_index_df

      year  countries       pf_rol  ... ef_regulation ef_score     hf_score
0     2016    Albania  5.291751647  ...   6.906901139     7.54  7.568140288
1     2016    Algeria  3.819566026  ...   5.268992397     4.99  5.135886055
2     2016     Angola  3.451813885  ...   5.518500441     5.17  5.640662182
3     2016  Argentina  5.744791027  ...   5.369018774     4.84  6.469847841
4     2016    Armenia  5.003205353  ...   7.378068688     7.57  7.241401801
...    ...        ...          ...  ...           ...      ...          ...
1452  2008    Uruguay  6.400000000  ...   6.162140043     7.12  7.947846630
1453  2008  Venezuela  3.100000000  ...   4.666935504     4.22  5.257879328
1454  2008    Vietnam  5.600000000  ...   6.307577197     6.19  6.420206308
1456  2008     Zambia  4.400000000  ...   6.722174633     7.15  6.647724406
1457  2008   Zimbabwe  3.700000000  ...   4.488891553     4.55  4.935570731

[1127 rows x 17 columns]

In [16]:
# Remove duplicates from Human Freedom Index dataframe
new_human_freedom_index_df = new_human_freedom_index_df.drop_duplicates()
new_human_freedom_index_df

      year  countries       pf_rol  ... ef_regulation ef_score     hf_score
0     2016    Albania  5.291751647  ...   6.906901139     7.54  7.568140288
1     2016    Algeria  3.819566026  ...   5.268992397     4.99  5.135886055
2     2016     Angola  3.451813885  ...   5.518500441     5.17  5.640662182
3     2016  Argentina  5.744791027  ...   5.369018774     4.84  6.469847841
4     2016    Armenia  5.003205353  ...   7.378068688     7.57  7.241401801
...    ...        ...          ...  ...           ...      ...          ...
1452  2008    Uruguay  6.400000000  ...   6.162140043     7.12  7.947846630
1453  2008  Venezuela  3.100000000  ...   4.666935504     4.22  5.257879328
1454  2008    Vietnam  5.600000000  ...   6.307577197     6.19  6.420206308
1456  2008     Zambia  4.400000000  ...   6.722174633     7.15  6.647724406
1457  2008   Zimbabwe  3.700000000  ...   4.488891553     4.55  4.935570731

[1127 rows x 17 columns]

In [17]:
#merge _happiness & freedom
merge_happiness_freedom=pd.merge(new_human_freedom_index_df, Happiness_Report_2015_2016_df, left_on=["countries", "year"], right_on=["country", "year"] )
merge_happiness_freedom

     year      countries  ... generosity dystopia_residual
0    2016        Albania  ...    0.16840           1.92816
1    2016        Algeria  ...    0.07044           3.40904
2    2016         Angola  ...    0.12071           2.09459
3    2016      Argentina  ...    0.10989           3.12985
4    2016        Armenia  ...    0.07793           1.97864
..    ...            ...  ...        ...               ...
244  2015  United States  ...    0.40105           2.51011
245  2015        Uruguay  ...    0.23240           2.32142
246  2015      Venezuela  ...    0.05841           3.19131
247  2015        Vietnam  ...    0.16860           2.20173
248  2015       Zimbabwe  ...    0.18987           2.44191

[249 rows x 28 columns]

In [18]:
merge_happiness_freedom["year"].value_counts()

2016    126
2015    123
Name: year, dtype: int64

In [19]:
#Connect Python to Postgres
import psycopg2
engine = psycopg2.connect(
    database="postgres",
    user="postgres",
    password=AWS_Password.password,
    host="happiness.c45odizugug2.us-east-2.rds.amazonaws.com",
    port='5432'
)
cursor = engine.cursor()
try:
    cursor.execute("""SELECT *
FROM public."Life_Expectancy";""")
except (Exception, psycopg2.DatabaseError) as error:
    print("Error: %s" % error)
    cursor.close()
    
# Naturally we get a list of tuples
tuples = cursor.fetchall()
colnames = [desc[0] for desc in cursor.description]
cursor.close()
# We just need to turn it into a pandas dataframe
Life_Expectancy_df = pd.DataFrame(tuples, columns=colnames)

In [20]:
Life_Expectancy_df

     Country_Name Country_Code  ...  2019  2020
0           Aruba          ABW  ...  None  None
1     Afghanistan          AFG  ...  None  None
2          Angola          AGO  ...  None  None
3         Albania          ALB  ...  None  None
4         Andorra          AND  ...  None  None
..            ...          ...  ...   ...   ...
259        Kosovo          XKX  ...  None  None
260   Yemen, Rep.          YEM  ...  None  None
261  South Africa          ZAF  ...  None  None
262        Zambia          ZMB  ...  None  None
263      Zimbabwe          ZWE  ...  None  None

[264 rows x 65 columns]

In [21]:
# create a new Life_expectancy table
df = pd.DataFrame(columns=["Country_Name", "Life_Expectancy", "year"])
for year in range (2015, 2017):
    lifeexp_df = Life_Expectancy_df[["Country_Name", str(year)]]
    lifeexp_df=  lifeexp_df.dropna()
    lifeexp_df=  lifeexp_df.rename(columns={str(year): "Life_Expectancy"})
    lifeexp_df['year'] = year
    df=pd.concat([df, lifeexp_df])
    
df

     Country_Name Life_Expectancy  year
0           Aruba     75.72500000  2015
1     Afghanistan     63.37700000  2015
2          Angola     59.39800000  2015
3         Albania     78.02500000  2015
5      Arab World     71.24957141  2015
..            ...             ...   ...
259        Kosovo     71.64634146  2016
260   Yemen, Rep.     66.08700000  2016
261  South Africa     63.15300000  2016
262        Zambia     62.46400000  2016
263      Zimbabwe     60.29400000  2016

[494 rows x 3 columns]

In [22]:
new_life_expectancy_df=df
new_life_expectancy_df

     Country_Name Life_Expectancy  year
0           Aruba     75.72500000  2015
1     Afghanistan     63.37700000  2015
2          Angola     59.39800000  2015
3         Albania     78.02500000  2015
5      Arab World     71.24957141  2015
..            ...             ...   ...
259        Kosovo     71.64634146  2016
260   Yemen, Rep.     66.08700000  2016
261  South Africa     63.15300000  2016
262        Zambia     62.46400000  2016
263      Zimbabwe     60.29400000  2016

[494 rows x 3 columns]

In [23]:
new_life_expectancy_df.isnull().sum(axis=1)

0      0
1      0
2      0
3      0
5      0
      ..
259    0
260    0
261    0
262    0
263    0
Length: 494, dtype: int64

In [24]:
# Remove NaNs from Human Freedom Index dataframe
new_life_expectancy_df=new_life_expectancy_df.dropna()
new_life_expectancy_df

     Country_Name Life_Expectancy  year
0           Aruba     75.72500000  2015
1     Afghanistan     63.37700000  2015
2          Angola     59.39800000  2015
3         Albania     78.02500000  2015
5      Arab World     71.24957141  2015
..            ...             ...   ...
259        Kosovo     71.64634146  2016
260   Yemen, Rep.     66.08700000  2016
261  South Africa     63.15300000  2016
262        Zambia     62.46400000  2016
263      Zimbabwe     60.29400000  2016

[494 rows x 3 columns]

In [25]:
new_life_expectancy_df=new_life_expectancy_df.drop_duplicates()
new_life_expectancy_df

     Country_Name Life_Expectancy  year
0           Aruba     75.72500000  2015
1     Afghanistan     63.37700000  2015
2          Angola     59.39800000  2015
3         Albania     78.02500000  2015
5      Arab World     71.24957141  2015
..            ...             ...   ...
259        Kosovo     71.64634146  2016
260   Yemen, Rep.     66.08700000  2016
261  South Africa     63.15300000  2016
262        Zambia     62.46400000  2016
263      Zimbabwe     60.29400000  2016

[494 rows x 3 columns]

In [26]:
final_merge = pd.merge(new_life_expectancy_df,merge_happiness_freedom, left_on=["Country_Name", "year"], right_on=["countries", "year"] )
final_merge

             Country_Name Life_Expectancy  ... generosity dystopia_residual
0                  Angola     59.39800000  ...    0.12344           1.94939
1                 Albania     78.02500000  ...    0.14272           1.89894
2    United Arab Emirates     77.28500000  ...    0.26428           2.24743
3               Argentina     76.06800000  ...    0.11451           2.83600
4                 Armenia     74.46700000  ...    0.07855           1.75873
..                    ...             ...  ...        ...               ...
229               Uruguay     77.49800000  ...    0.18056           2.67139
230         United States     78.53902439  ...    0.41077           2.72782
231               Vietnam     75.17200000  ...    0.25075           1.94180
232          South Africa     63.15300000  ...    0.13656           1.64227
233              Zimbabwe     60.29400000  ...    0.18503           2.44270

[234 rows x 30 columns]

In [27]:
#Compare the countries columns
final_merge[["Country_Name", "countries", "country"]]

             Country_Name             countries               country
0                  Angola                Angola                Angola
1                 Albania               Albania               Albania
2    United Arab Emirates  United Arab Emirates  United Arab Emirates
3               Argentina             Argentina             Argentina
4                 Armenia               Armenia               Armenia
..                    ...                   ...                   ...
229               Uruguay               Uruguay               Uruguay
230         United States         United States         United States
231               Vietnam               Vietnam               Vietnam
232          South Africa          South Africa          South Africa
233              Zimbabwe              Zimbabwe              Zimbabwe

[234 rows x 3 columns]

In [28]:
#Drop countries and country columns
final_merge=final_merge.drop(["countries", "country"], axis=1)
final_merge

             Country_Name Life_Expectancy  ... generosity dystopia_residual
0                  Angola     59.39800000  ...    0.12344           1.94939
1                 Albania     78.02500000  ...    0.14272           1.89894
2    United Arab Emirates     77.28500000  ...    0.26428           2.24743
3               Argentina     76.06800000  ...    0.11451           2.83600
4                 Armenia     74.46700000  ...    0.07855           1.75873
..                    ...             ...  ...        ...               ...
229               Uruguay     77.49800000  ...    0.18056           2.67139
230         United States     78.53902439  ...    0.41077           2.72782
231               Vietnam     75.17200000  ...    0.25075           1.94180
232          South Africa     63.15300000  ...    0.13656           1.64227
233              Zimbabwe     60.29400000  ...    0.18503           2.44270

[234 rows x 28 columns]

In [29]:
final_merge.columns

Index(['Country_Name', 'Life_Expectancy', 'year', 'pf_rol', 'pf_ss',
       'pf_movement', 'pf_religion', 'pf_association', 'pf_expression',
       'pf_identity', 'pf_score', 'ef_government', 'ef_legal', 'ef_money',
       'ef_trade', 'ef_regulation', 'ef_score', 'hf_score', 'region',
       'happiness_rank', 'happiness_score', 'economy_gdp_per_capita', 'family',
       'health_life_expectancy', 'freedom', 'trust_government_corruption',
       'generosity', 'dystopia_residual'],
      dtype='object')

In [30]:
final_merge.dtypes

Country_Name                   object
Life_Expectancy                object
year                           object
pf_rol                         object
pf_ss                          object
pf_movement                    object
pf_religion                    object
pf_association                 object
pf_expression                  object
pf_identity                    object
pf_score                       object
ef_government                  object
ef_legal                       object
ef_money                       object
ef_trade                       object
ef_regulation                  object
ef_score                       object
hf_score                       object
region                         object
happiness_rank                  int64
happiness_score                object
economy_gdp_per_capita         object
family                         object
health_life_expectancy         object
freedom                        object
trust_government_corruption    object
generosity                     object
dystopia_residual              object
dtype: object

In [31]:
final_merge.corr()

                happiness_rank
happiness_rank             1.0

In [32]:
# Change the data types of everything except Happiness Rank, Country_Name, and regiont o float
changed_columns = final_merge[['Life_Expectancy', 'year', 'pf_rol', 'pf_ss',
       'pf_movement', 'pf_religion', 'pf_association', 'pf_expression',
       'pf_identity', 'pf_score', 'ef_government', 'ef_legal', 'ef_money',
       'ef_trade', 'ef_regulation', 'ef_score', 'hf_score', 'happiness_score', 'economy_gdp_per_capita', 'family',
       'health_life_expectancy', 'freedom', 'trust_government_corruption',
       'generosity', 'dystopia_residual']].astype('float')
changed_columns

     Life_Expectancy    year  ...  generosity  dystopia_residual
0          59.398000  2015.0  ...     0.12344            1.94939
1          78.025000  2015.0  ...     0.14272            1.89894
2          77.285000  2015.0  ...     0.26428            2.24743
3          76.068000  2015.0  ...     0.11451            2.83600
4          74.467000  2015.0  ...     0.07855            1.75873
..               ...     ...  ...         ...                ...
229        77.498000  2016.0  ...     0.18056            2.67139
230        78.539024  2016.0  ...     0.41077            2.72782
231        75.172000  2016.0  ...     0.25075            1.94180
232        63.153000  2016.0  ...     0.13656            1.64227
233        60.294000  2016.0  ...     0.18503            2.44270

[234 rows x 25 columns]

In [33]:
# Changed_Columns correlation matrix
changed_columns.corr()

                             Life_Expectancy  ...  dystopia_residual
Life_Expectancy                     1.000000  ...           0.199944
year                                0.012292  ...           0.204056
pf_rol                              0.727544  ...           0.082465
pf_ss                               0.640778  ...          -0.083246
pf_movement                         0.364658  ...           0.155081
pf_religion                         0.044468  ...          -0.021007
pf_association                      0.339514  ...           0.139020
pf_expression                       0.420398  ...           0.113480
pf_identity                         0.362988  ...           0.123784
pf_score                            0.616806  ...           0.093793
ef_government                      -0.284258  ...          -0.066235
ef_legal                            0.726150  ...           0.009221
ef_money                            0.575061  ...           0.045112
ef_trade                            0.657513  ...           0.048546
ef_regulation                       0.456831  ...          -0.168644
ef_score                            0.645954  ...          -0.027003
hf_score                            0.680387  ...           0.053562
happiness_score                     0.794490  ...           0.574427
economy_gdp_per_capita              0.835380  ...           0.194622
family                              0.563105  ...           0.070025
health_life_expectancy              0.962629  ...           0.151014
freedom                             0.435156  ...           0.038558
trust_government_corruption         0.339066  ...           0.048263
generosity                          0.105420  ...          -0.052879
dystopia_residual                   0.199944  ...           1.000000

[25 rows x 25 columns]

In [34]:
# Correlation for Happiness Score
changed_columns.corr()["happiness_score"]

Life_Expectancy                0.794490
year                          -0.010496
pf_rol                         0.707098
pf_ss                          0.434462
pf_movement                    0.341226
pf_religion                    0.081250
pf_association                 0.303976
pf_expression                  0.412605
pf_identity                    0.304637
pf_score                       0.541931
ef_government                 -0.296042
ef_legal                       0.665595
ef_money                       0.477248
ef_trade                       0.520636
ef_regulation                  0.390684
ef_score                       0.537179
hf_score                       0.585696
happiness_score                1.000000
economy_gdp_per_capita         0.809331
family                         0.691956
health_life_expectancy         0.773287
freedom                        0.581714
trust_government_corruption    0.474794
generosity                     0.245756
dystopia_residual              0.574427
Name: happiness_score, dtype: float64

In [35]:
# Df for 2015
year_2015 = changed_columns.loc[changed_columns["year"]==2015]
year_2015

     Life_Expectancy    year  ...  generosity  dystopia_residual
0          59.398000  2015.0  ...     0.12344            1.94939
1          78.025000  2015.0  ...     0.14272            1.89894
2          77.285000  2015.0  ...     0.26428            2.24743
3          76.068000  2015.0  ...     0.11451            2.83600
4          74.467000  2015.0  ...     0.07855            1.75873
..               ...     ...  ...         ...                ...
111        77.369000  2015.0  ...     0.23240            2.32142
112        78.690244  2015.0  ...     0.40105            2.51011
113        75.110000  2015.0  ...     0.16860            2.20173
114        62.649000  2015.0  ...     0.11973            1.71956
115        59.534000  2015.0  ...     0.18987            2.44191

[116 rows x 25 columns]

2015 Dataframe

In [36]:
# Drop 'year' for year_2015 df
year_2015 = year_2015.drop(["year"], axis=1)
year_2015

     Life_Expectancy    pf_rol  ...  generosity  dystopia_residual
0          59.398000  3.512106  ...     0.12344            1.94939
1          78.025000  5.164786  ...     0.14272            1.89894
2          77.285000  6.333749  ...     0.26428            2.24743
3          76.068000  5.535100  ...     0.11451            2.83600
4          74.467000  4.679990  ...     0.07855            1.75873
..               ...       ...  ...         ...                ...
111        77.369000  6.965991  ...     0.23240            2.32142
112        78.690244  7.132166  ...     0.40105            2.51011
113        75.110000  5.165162  ...     0.16860            2.20173
114        62.649000  5.665023  ...     0.11973            1.71956
115        59.534000  3.466406  ...     0.18987            2.44191

[116 rows x 24 columns]

In [37]:
# Df for 2016
year_2016 = changed_columns.loc[changed_columns["year"]==2016]
year_2016

     Life_Expectancy    year  ...  generosity  dystopia_residual
116        59.925000  2016.0  ...     0.12071            2.09459
117        78.194000  2016.0  ...     0.16840            1.92816
118        77.470000  2016.0  ...     0.26591            2.21507
119        76.221000  2016.0  ...     0.10989            3.12985
120        74.640000  2016.0  ...     0.07793            1.97864
..               ...     ...  ...         ...                ...
229        77.498000  2016.0  ...     0.18056            2.67139
230        78.539024  2016.0  ...     0.41077            2.72782
231        75.172000  2016.0  ...     0.25075            1.94180
232        63.153000  2016.0  ...     0.13656            1.64227
233        60.294000  2016.0  ...     0.18503            2.44270

[118 rows x 25 columns]

2016 Dataframe

In [38]:
# Drop 'year' for year_2016 df
year_2016 = year_2016.drop(["year"], axis=1)
year_2016

     Life_Expectancy    pf_rol  ...  generosity  dystopia_residual
116        59.925000  3.451814  ...     0.12071            2.09459
117        78.194000  5.291752  ...     0.16840            1.92816
118        77.470000  6.365951  ...     0.26591            2.21507
119        76.221000  5.744791  ...     0.10989            3.12985
120        74.640000  5.003205  ...     0.07793            1.97864
..               ...       ...  ...         ...                ...
229        77.498000  6.641640  ...     0.18056            2.67139
230        78.539024  6.949912  ...     0.41077            2.72782
231        75.172000  4.912071  ...     0.25075            1.94180
232        63.153000  5.728138  ...     0.13656            1.64227
233        60.294000  3.507599  ...     0.18503            2.44270

[118 rows x 24 columns]

In [39]:
# other_columns = final_merge[['year','Country_Name', 'happiness_rank', 'region']]
# other_columns

In [40]:
changed_columns.dtypes

Life_Expectancy                float64
year                           float64
pf_rol                         float64
pf_ss                          float64
pf_movement                    float64
pf_religion                    float64
pf_association                 float64
pf_expression                  float64
pf_identity                    float64
pf_score                       float64
ef_government                  float64
ef_legal                       float64
ef_money                       float64
ef_trade                       float64
ef_regulation                  float64
ef_score                       float64
hf_score                       float64
happiness_score                float64
economy_gdp_per_capita         float64
family                         float64
health_life_expectancy         float64
freedom                        float64
trust_government_corruption    float64
generosity                     float64
dystopia_residual              float64
dtype: object

In [41]:
# # Merge changed_columns and other_columns
# merged_dataset = pd.merge(changed_columns, other_columns, left_on=["year"], right_on=["year"] )
# merged_dataset

In [42]:
# final_df = pd.get_dummies(merged_dataset, columns=["Country_Name", "region"])
# final_df.head()

In [43]:
changed_columns.columns

Index(['Life_Expectancy', 'year', 'pf_rol', 'pf_ss', 'pf_movement',
       'pf_religion', 'pf_association', 'pf_expression', 'pf_identity',
       'pf_score', 'ef_government', 'ef_legal', 'ef_money', 'ef_trade',
       'ef_regulation', 'ef_score', 'hf_score', 'happiness_score',
       'economy_gdp_per_capita', 'family', 'health_life_expectancy', 'freedom',
       'trust_government_corruption', 'generosity', 'dystopia_residual'],
      dtype='object')

In [44]:
changed_columns.dtypes

Life_Expectancy                float64
year                           float64
pf_rol                         float64
pf_ss                          float64
pf_movement                    float64
pf_religion                    float64
pf_association                 float64
pf_expression                  float64
pf_identity                    float64
pf_score                       float64
ef_government                  float64
ef_legal                       float64
ef_money                       float64
ef_trade                       float64
ef_regulation                  float64
ef_score                       float64
hf_score                       float64
happiness_score                float64
economy_gdp_per_capita         float64
family                         float64
health_life_expectancy         float64
freedom                        float64
trust_government_corruption    float64
generosity                     float64
dystopia_residual              float64
dtype: object

In [45]:
# final_df.to_csv("Final_Dataset.csv")

# Machine Learning Model

####We will be using a supervised linear regression model to predict the happiness scores of countries. The features will be chosen from the Life Expectancy and Freedom Index datasets in various permutations of the columns correlated with the happiness scores.

2015 Correlation Matrix

In [46]:
# Correlation Matrix for 2015
year_2015.corr()

                             Life_Expectancy  ...  dystopia_residual
Life_Expectancy                     1.000000  ...           0.168409
pf_rol                              0.736583  ...           0.079901
pf_ss                               0.642593  ...          -0.106320
pf_movement                         0.366078  ...           0.158576
pf_religion                         0.049528  ...          -0.007469
pf_association                      0.341344  ...           0.107092
pf_expression                       0.407231  ...           0.110087
pf_identity                         0.325632  ...           0.126840
pf_score                            0.619824  ...           0.084115
ef_government                      -0.269687  ...          -0.060695
ef_legal                            0.734425  ...           0.006535
ef_money                            0.589422  ...           0.029766
ef_trade                            0.652769  ...           0.039956
ef_regulation                       0.482000  ...          -0.174342
ef_score                            0.653008  ...          -0.035268
hf_score                            0.686202  ...           0.042947
happiness_score                     0.778259  ...           0.591159
economy_gdp_per_capita              0.845256  ...           0.157730
family                              0.598655  ...           0.170206
health_life_expectancy              0.983221  ...           0.162540
freedom                             0.457050  ...           0.096427
trust_government_corruption         0.332308  ...           0.068903
generosity                          0.102772  ...          -0.020232
dystopia_residual                   0.168409  ...           1.000000

[24 rows x 24 columns]

2016 Correlation Matrix

In [47]:
# Correlation Matrix for 2016
year_2016.corr()

                             Life_Expectancy  ...  dystopia_residual
Life_Expectancy                     1.000000  ...           0.236556
pf_rol                              0.719870  ...           0.101630
pf_ss                               0.639193  ...          -0.060880
pf_movement                         0.364540  ...           0.167231
pf_religion                         0.042378  ...           0.002922
pf_association                      0.337806  ...           0.179392
pf_expression                       0.434162  ...           0.125404
pf_identity                         0.400468  ...           0.132970
pf_score                            0.615456  ...           0.119329
ef_government                      -0.299910  ...          -0.086793
ef_legal                            0.718348  ...           0.018921
ef_money                            0.562314  ...           0.071860
ef_trade                            0.663794  ...           0.068142
ef_regulation                       0.430084  ...          -0.177639
ef_score                            0.638969  ...          -0.016948
hf_score                            0.675732  ...           0.075776
happiness_score                     0.811643  ...           0.586785
economy_gdp_per_capita              0.837256  ...           0.188109
family                              0.616066  ...           0.140736
health_life_expectancy              0.983900  ...           0.235210
freedom                             0.439380  ...           0.075637
trust_government_corruption         0.347714  ...           0.038326
generosity                          0.108050  ...          -0.088001
dystopia_residual                   0.236556  ...           1.000000

[24 rows x 24 columns]

Linear Regression Machine Learning Model with 2015 Data Below

In [48]:
# Create our features (columns except those in the original happiness dataset)
X = year_2015.drop(columns=['happiness_score','economy_gdp_per_capita',
       'family', 'health_life_expectancy', 'freedom',
       'trust_government_corruption', 'generosity', 'dystopia_residual'], axis=1)

# Create our target
y = year_2015["happiness_score"]

In [49]:
# Show the resulting dataframe
X.dtypes

Life_Expectancy    float64
pf_rol             float64
pf_ss              float64
pf_movement        float64
pf_religion        float64
pf_association     float64
pf_expression      float64
pf_identity        float64
pf_score           float64
ef_government      float64
ef_legal           float64
ef_money           float64
ef_trade           float64
ef_regulation      float64
ef_score           float64
hf_score           float64
dtype: object

In [50]:
X.columns

Index(['Life_Expectancy', 'pf_rol', 'pf_ss', 'pf_movement', 'pf_religion',
       'pf_association', 'pf_expression', 'pf_identity', 'pf_score',
       'ef_government', 'ef_legal', 'ef_money', 'ef_trade', 'ef_regulation',
       'ef_score', 'hf_score'],
      dtype='object')

In [51]:
# Check the balance of our target values
y.value_counts()

6.983    1
5.987    1
4.739    1
6.329    1
7.286    1
        ..
7.200    1
5.791    1
3.904    1
6.853    1
6.750    1
Name: happiness_score, Length: 116, dtype: int64

In [52]:
# Scale the data
from sklearn.preprocessing import StandardScaler
X = StandardScaler().fit_transform(X)
X

array([[-1.83121965, -1.11297709, -0.01770911, ..., -1.09562401,
        -1.74215853, -1.22439061],
       [ 0.62390813, -0.13108677,  0.3974841 , ..., -0.06488979,
         0.73217606,  0.47498965],
       [ 0.52637259,  0.56341751, -0.21817966, ...,  0.87281313,
         0.63746469, -0.75568787],
       ...,
       [ 0.23969718, -0.13086314,  0.22581243, ..., -0.4863979 ,
        -0.72401128, -0.8685951 ],
       [-1.40272228,  0.16611399, -1.66365062, ...,  0.32317046,
        -0.08470952,  0.18542667],
       [-1.8132942 , -1.14012841, -0.52008882, ..., -1.7505338 ,
        -1.06734001, -1.41986983]])

In [53]:
# Perform the train, test, split of the data

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1)
X_train.shape

(87, 16)

In [54]:
# Create an instance of the linear regression model
model = LinearRegression()

In [55]:
# Fit the model (training the model)
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [56]:
# Generate predictions
y_pred = model.predict(X_test)
print(y_pred.shape)

(29,)

In [57]:
# Generate accuracy score
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.4717910287685695

Linear Regression Machine Learning Model with 2016 Data Below

In [58]:
# Create our features (columns except those in the original happiness dataset)
X = year_2016.drop(columns=['happiness_score','economy_gdp_per_capita',
       'family', 'health_life_expectancy', 'freedom',
       'trust_government_corruption', 'generosity', 'dystopia_residual'], axis=1)
# Create our target
y = year_2016["happiness_score"]

In [59]:
# Check the balance of our target values
y.value_counts()

3.739    2
7.313    1
4.139    1
5.546    1
4.121    1
        ..
4.028    1
6.573    1
5.291    1
6.478    1
4.875    1
Name: happiness_score, Length: 117, dtype: int64

In [60]:
# Scale the data
X = StandardScaler().fit_transform(X)
X

array([[-1.82886123, -1.10371706, -0.00770213, ..., -1.79590083,
        -2.09640048, -1.30811481],
       [ 0.63679025,  0.00433314,  0.3688697 , ..., -0.24746696,
         0.7732978 ,  0.5226944 ],
       [ 0.53907655,  0.65123927, -0.23406035, ...,  0.28555283,
         0.72486407, -0.69450142],
       ...,
       [ 0.22893001, -0.22431868,  0.23869878, ..., -0.47670139,
        -0.58284654, -0.78252496],
       [-1.39319847,  0.26713415, -1.67490218, ...,  0.04403646,
        -0.30435261,  0.14696488],
       [-1.77905963, -1.07012209, -0.51602192, ..., -0.64798377,
        -1.01875007, -1.33214536]])

In [61]:
# Perform the train, test, split of the data

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1)
X_train.shape

(88, 16)

In [62]:
# Create an instance of the linear regression model
model = LinearRegression()

In [63]:
# Fit the model (training the model)
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [64]:
# Generate predictions
y_pred = model.predict(X_test)
print(y_pred.shape)

(30,)

In [65]:
# Generate accuracy score
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.4564071127596503

In [66]:
len(X)

118

In [67]:
len(y_pred)

30

In [68]:
# Correlation for Happiness Score 2015
year_2015.corr()["happiness_score"]

Life_Expectancy                0.778259
pf_rol                         0.702863
pf_ss                          0.414040
pf_movement                    0.339467
pf_religion                    0.074483
pf_association                 0.285692
pf_expression                  0.397727
pf_identity                    0.270016
pf_score                       0.529252
ef_government                 -0.282411
ef_legal                       0.660283
ef_money                       0.480325
ef_trade                       0.513966
ef_regulation                  0.402618
ef_score                       0.534090
hf_score                       0.576414
happiness_score                1.000000
economy_gdp_per_capita         0.810279
family                         0.740473
health_life_expectancy         0.768745
freedom                        0.602961
trust_government_corruption    0.476662
generosity                     0.261343
dystopia_residual              0.591159
Name: happiness_score, dtype: float64

In [69]:
# Correlation for Happiness Score 2016
year_2016.corr()["happiness_score"]

Life_Expectancy                0.811643
pf_rol                         0.711503
pf_ss                          0.455160
pf_movement                    0.343108
pf_religion                    0.086555
pf_association                 0.322472
pf_expression                  0.427680
pf_identity                    0.338500
pf_score                       0.554518
ef_government                 -0.309403
ef_legal                       0.670926
ef_money                       0.474345
ef_trade                       0.527445
ef_regulation                  0.378733
ef_score                       0.540301
hf_score                       0.594940
happiness_score                1.000000
economy_gdp_per_capita         0.825825
family                         0.732196
health_life_expectancy         0.803716
freedom                        0.583577
trust_government_corruption    0.473088
generosity                     0.231474
dystopia_residual              0.586785
Name: happiness_score, dtype: float64

Use 2015 Data to Train Model, Test on 2016 Data - use this model!

In [70]:
# Create our features (those in the original happiness dataset)
X = year_2015.drop(columns=['happiness_score','economy_gdp_per_capita',
       'family', 'health_life_expectancy', 'freedom',
       'trust_government_corruption', 'generosity', 'dystopia_residual'], axis=1)
# Create our target
y = year_2015["happiness_score"]

In [71]:
# Scale the data
Scaler = StandardScaler().fit(X)
X = Scaler.transform(X)

In [72]:
# Create an instance of the linear regression model
model = LinearRegression()

In [73]:
# Fit the model
model.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [74]:
# Create our features (without columns in the original happiness dataset)
X_16 = year_2016.drop(columns=['happiness_score','economy_gdp_per_capita',
       'family', 'health_life_expectancy', 'freedom',
       'trust_government_corruption', 'generosity', 'dystopia_residual'], axis=1)
# Create our target
y_16 = year_2016["happiness_score"]

In [75]:
# Scale the data
X_16 = Scaler.transform(X_16)

In [76]:
# Generate predictions
y_pred = model.predict(X_16)
# print(y_pred.shape)

In [77]:
y_pred

array([3.60451231, 5.70966039, 6.70621381, 5.90464737, 5.3055582 ,
       6.76726539, 6.74584911, 4.85242314, 3.79822687, 6.67880968,
       3.82125006, 4.05833406, 4.57440273, 4.98923067, 5.85866115,
       5.39695009, 5.10365308, 4.8693898 , 6.52606081, 6.54538283,
       7.11909915, 6.10197868, 6.04853199, 3.49793387, 6.34075227,
       6.78355325, 6.17492033, 6.98411742, 7.06016473, 5.61753494,
       5.65257668, 6.65416462, 6.37115846, 4.81922737, 6.89921013,
       6.52735702, 4.06930742, 6.55474151, 5.0769622 , 4.60015922,
       3.11100707, 6.2265571 , 5.70445336, 5.5062857 , 5.83282555,
       3.82673293, 5.56111077, 4.67935563, 5.13838408, 6.73060701,
       5.20410184, 6.50995315, 6.2718902 , 6.4753956 , 6.0029357 ,
       5.67223485, 7.09043894, 4.81548226, 4.53849732, 3.61482969,
       5.544538  , 5.98356492, 5.52284739, 5.5528833 , 5.7043551 ,
       6.67192111, 5.6753172 , 5.55187342, 4.99206268, 4.8315556 ,
       5.71718664, 4.37445111, 6.38787884, 3.76392282, 5.02952384,
       4.89924238, 5.65830659, 5.54271418, 4.97137351, 4.03495381,
       3.8651875 , 5.18721779, 6.8754575 , 7.01932321, 4.67439142,
       6.6303154 , 4.41488219, 5.5404809 , 5.32486685, 5.00124322,
       5.82535291, 6.57948232, 5.6001174 , 6.43809212, 5.45621122,
       5.21669736, 6.1491662 , 4.84477214, 4.57184899, 6.90599394,
       5.88081789, 4.94834485, 6.21269185, 6.97633556, 3.51600257,
       3.74020429, 5.67990657, 4.72938482, 5.65645715, 5.54053787,
       4.55804319, 3.984287  , 5.30941266, 6.80899603, 6.13823969,
       5.5085654 , 5.25399102, 3.95204462])

In [78]:
y_16

116    3.866
117    4.655
118    6.573
119    6.650
120    4.360
       ...
229    6.545
230    7.104
231    5.061
232    4.459
233    4.193
Name: happiness_score, Length: 118, dtype: float64

In [79]:
# Generate accuracy score
from sklearn.metrics import r2_score
r2_score(y_16, y_pred)

0.7171172252451614

In [80]:
# Plot predictions vs. actual
# Graph high correlation columns against the scores

Alternate Machine Learning Model Test: Top 3 columns most highly correlated with happiness score as features (Life_Expectancy, pf_rol, ef_legal)

In [81]:
# 2015 happiness_score correlations
year_2015.corr()["happiness_score"]

Life_Expectancy                0.778259
pf_rol                         0.702863
pf_ss                          0.414040
pf_movement                    0.339467
pf_religion                    0.074483
pf_association                 0.285692
pf_expression                  0.397727
pf_identity                    0.270016
pf_score                       0.529252
ef_government                 -0.282411
ef_legal                       0.660283
ef_money                       0.480325
ef_trade                       0.513966
ef_regulation                  0.402618
ef_score                       0.534090
hf_score                       0.576414
happiness_score                1.000000
economy_gdp_per_capita         0.810279
family                         0.740473
health_life_expectancy         0.768745
freedom                        0.602961
trust_government_corruption    0.476662
generosity                     0.261343
dystopia_residual              0.591159
Name: happiness_score, dtype: float64

In [82]:
# Create our features (2015)
X = year_2015.drop(columns=['pf_ss', 'pf_movement', 'pf_religion',
       'pf_association', 'pf_expression', 'pf_identity', 'pf_score',
       'ef_government', 'ef_money', 'ef_trade', 'ef_regulation',
       'ef_score', 'hf_score'], axis=1)
# Create our target
y = year_2015["happiness_score"]

In [83]:
# Scale the data
Scaler = StandardScaler().fit(X)
X = Scaler.transform(X)

In [84]:
# Create an instance of the linear regression model
model = LinearRegression()

In [85]:
# Fit the model
model.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [86]:
# Create our features (2016 data)
X_16 = year_2016.drop(columns=['pf_ss', 'pf_movement', 'pf_religion',
       'pf_association', 'pf_expression', 'pf_identity', 'pf_score',
       'ef_government', 'ef_money', 'ef_trade', 'ef_regulation',
       'ef_score', 'hf_score'], axis=1)
# Create our target
y_16 = year_2016["happiness_score"]

In [87]:
# Scale the data
X_16 = Scaler.transform(X_16)

In [88]:
# Generate predictions
y_pred = model.predict(X_16)
print(y_pred.shape)

(118,)

In [89]:
# Generate accuracy score
from sklearn.metrics import r2_score
r2_score(y_16, y_pred)

1.0

Alternate Machine Learning Model Test: Top 5 columns most highly correlated with happiness score as features (Life_Expectancy, pf_rol, ef_legal, hf_score, ef_score)

In [90]:
# Create our features (2015)
X = year_2015.drop(columns=['pf_ss', 'pf_movement', 'pf_religion',
       'pf_association', 'pf_expression', 'pf_identity', 'pf_score',
       'ef_government', 'ef_money', 'ef_trade', 'ef_regulation'], axis=1)
# Create our target
y = year_2015["happiness_score"]

In [91]:
# Scale the data
Scaler = StandardScaler().fit(X)
X = Scaler.transform(X)

In [92]:
# Create an instance of the linear regression model
model = LinearRegression()

In [93]:
# Fit the model
model.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [94]:
# Create our features (2016 data)
X_16 = year_2016.drop(columns=['pf_ss', 'pf_movement', 'pf_religion',
       'pf_association', 'pf_expression', 'pf_identity', 'pf_score',
       'ef_government', 'ef_money', 'ef_trade', 'ef_regulation'], axis=1)
# Create our target
y_16 = year_2016["happiness_score"]

In [95]:
# Scale the data
X_16 = Scaler.transform(X_16)

In [96]:
# Generate predictions
y_pred = model.predict(X_16)
print(y_pred.shape)

(118,)

In [97]:
# Generate accuracy score
from sklearn.metrics import r2_score
r2_score(y_16, y_pred)

1.0

Iterations of ML Model for 2015 Data

In [98]:
# Create our features (without columns Life_Expectancy,  (high correlation), and those in the original happiness dataset)
X = year_2015.drop(columns=['Life_Expectancy','pf_rol','happiness_score','economy_gdp_per_capita',
       'family', 'health_life_expectancy', 'freedom',
       'trust_government_corruption', 'generosity', 'dystopia_residual'], axis=1)
# Create our target
y = year_2015["happiness_score"]

In [99]:
X = year_2015.drop(columns=['happiness_score','economy_gdp_per_capita',
       'family', 'health_life_expectancy', 'freedom',
       'trust_government_corruption', 'generosity', 'dystopia_residual'], axis=1)
X

     Life_Expectancy    pf_rol     pf_ss  ...  ef_regulation  ef_score  hf_score
0          59.398000  3.512106  8.297865  ...       6.065583      5.44  5.786479
1          78.025000  5.164786  8.865642  ...       7.035655      7.53  7.558539
2          77.285000  6.333749  8.023721  ...       7.918170      7.45  6.275228
3          76.068000  5.535100  8.962108  ...       5.549339      4.98  6.502548
4          74.467000  4.679990  8.930383  ...       7.364917      7.59  7.230887
..               ...       ...       ...  ...            ...       ...       ...
111        77.369000  6.965991  8.305990  ...       6.430509      7.15  7.770347
112        78.690244  7.132166  9.328353  ...       8.713322      7.93  8.378785
113        75.110000  5.165162  8.630881  ...       6.638954      6.30  6.157491
114        62.649000  5.665023  6.047035  ...       7.400876      6.84  7.256592
115        59.534000  3.466406  7.610859  ...       5.449218      6.01  5.582640

[116 rows x 16 columns]

In [100]:
# Check the balance of our target values
y.value_counts()

6.983    1
5.987    1
4.739    1
6.329    1
7.286    1
        ..
7.200    1
5.791    1
3.904    1
6.853    1
6.750    1
Name: happiness_score, Length: 116, dtype: int64

In [101]:
# Scale the data
Scaler = StandardScaler().fit(X)
X = Scaler.transform(X)

In [102]:
# Perform the train, test, split of the data

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1)
X_train.shape

(87, 16)

In [103]:
# Create an instance of the linear regression model
model = LinearRegression()

In [104]:
# Try with 2015 data to train for 2016
model.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [110]:
# Create our features (without columns Life_Expectancy, pf_rol, and those in the original happiness dataset)
X_16 = year_2016.drop(columns=['Life_Expectancy','pf_rol','happiness_score','economy_gdp_per_capita',
       'family', 'health_life_expectancy', 'freedom',
       'trust_government_corruption', 'generosity', 'dystopia_residual'], axis=1)
# Create our target
y_16 = year_2016["happiness_score"]

In [111]:
# Scale the data
X_16 = Scaler.transform(X_16)

ValueError: ignored

In [152]:
# Generate predictions
#y_pred = model.predict(X_16)
#print(y_pred.shape)

In [151]:
# Generate accuracy score
#from sklearn.metrics import r2_score
#r2_score(y_16, y_pred)

In [114]:
# Create an instance of the linear regression model
model = LinearRegression()

In [115]:
# Fit the model (training the model)
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [116]:
# Generate predictions
y_pred = model.predict(X_test)
print(y_pred.shape)

(29,)

In [117]:
# Generate accuracy score
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.4717910287685695

In [118]:
# Create our features (without columns ef_government (low correlation), and those in the original happiness dataset)
X = year_2015.drop(columns=['ef_government','happiness_score','economy_gdp_per_capita',
       'family', 'health_life_expectancy', 'freedom',
       'trust_government_corruption', 'generosity', 'dystopia_residual'], axis=1)
# Create our target
y = year_2015["happiness_score"]

In [119]:
# Scale the data
X = StandardScaler().fit_transform(X)
X

array([[-1.83121965, -1.11297709, -0.01770911, ..., -1.09562401,
        -1.74215853, -1.22439061],
       [ 0.62390813, -0.13108677,  0.3974841 , ..., -0.06488979,
         0.73217606,  0.47498965],
       [ 0.52637259,  0.56341751, -0.21817966, ...,  0.87281313,
         0.63746469, -0.75568787],
       ...,
       [ 0.23969718, -0.13086314,  0.22581243, ..., -0.4863979 ,
        -0.72401128, -0.8685951 ],
       [-1.40272228,  0.16611399, -1.66365062, ...,  0.32317046,
        -0.08470952,  0.18542667],
       [-1.8132942 , -1.14012841, -0.52008882, ..., -1.7505338 ,
        -1.06734001, -1.41986983]])

In [120]:
# Perform the train, test, split of the data

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1)
X_train.shape

(87, 15)

In [121]:
# Create an instance of the linear regression model
model = LinearRegression()

In [122]:
# Fit the model (training the model)
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [123]:
# Generate predictions
y_pred = model.predict(X_test)
print(y_pred.shape)

(29,)

In [124]:
y_pred

array([5.94225693, 3.16185997, 4.79889337, 7.14954023, 3.6969384 ,
       4.80625068, 2.95771905, 5.81779057, 3.92742676, 3.70865234,
       5.16371802, 3.9025852 , 6.1720829 , 3.73333115, 3.77770016,
       5.58550874, 3.23519838, 5.30981447, 5.23446778, 6.05042227,
       5.67190317, 5.91016928, 6.74784011, 7.38198516, 5.15010205,
       6.93283499, 4.28729143, 7.07099361, 4.24013813])

In [125]:
y_test

95     6.411
44     4.518
56     4.419
97     6.798
69     3.995
114    4.642
73     4.971
58     6.295
35     3.896
38     4.633
65     5.013
96     3.904
2      6.901
78     5.268
109    3.931
53     5.192
102    3.667
99     5.123
94     3.465
42     4.788
104    6.455
17     6.983
80     7.378
54     5.987
93     5.124
33     7.406
67     3.681
48     6.940
46     5.399
Name: happiness_score, dtype: float64

In [126]:
y_pred_round = [round(a) for a in y_pred]

In [127]:
y_test_round = [round(a) for a in y_test]

In [128]:
# Generate r2 score (r2 tells you how far each number is)
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.48471974646801785

In [129]:
# Generate rounded r2 score
from sklearn.metrics import r2_score
r2_score(y_pred_round, y_test_round)

0.5288035450516986

In [130]:
# Generate accuracy score
from sklearn.metrics import accuracy_score
accuracy_score(y_pred_round, y_test_round)

0.5517241379310345

Iterations of ML Model for 2016 Data

In [131]:
# Create our features (without columns Life_Expectancy, pf_rol, and those in the original happiness dataset)
X = year_2016.drop(columns=['Life_Expectancy','pf_rol','happiness_score','economy_gdp_per_capita',
       'family', 'health_life_expectancy', 'freedom',
       'trust_government_corruption', 'generosity', 'dystopia_residual'], axis=1)
# Create our target
y = year_2016["happiness_score"]

In [132]:
# Check the balance of our target values
y.value_counts()

3.739    2
7.313    1
4.139    1
5.546    1
4.121    1
        ..
4.028    1
6.573    1
5.291    1
6.478    1
4.875    1
Name: happiness_score, Length: 117, dtype: int64

In [133]:
# Scale the data
X = StandardScaler().fit_transform(X)
X

array([[-0.00770213, -1.09031111,  0.93628252, ..., -1.79590083,
        -2.09640048, -1.30811481],
       [ 0.3688697 , -0.45653421,  1.20446902, ..., -0.24746696,
         0.7732978 ,  0.5226944 ],
       [-0.23406035, -1.724088  , -1.76638162, ...,  0.28555283,
         0.72486407, -0.69450142],
       ...,
       [ 0.23869878, -1.724088  , -0.97356751, ..., -0.47670139,
        -0.58284654, -0.78252496],
       [-1.67490218,  0.81101959,  1.31825253, ...,  0.04403646,
        -0.30435261,  0.14696488],
       [-0.51602192, -1.09031111, -0.62218447, ..., -0.64798377,
        -1.01875007, -1.33214536]])

In [134]:
# Perform the train, test, split of the data

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1)
X_train.shape

(88, 14)

In [135]:
# Create an instance of the linear regression model
model = LinearRegression()

In [136]:
# Fit the model (training the model)
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [137]:
# Generate predictions
y_pred = model.predict(X_test)
print(y_pred.shape)

(30,)

In [138]:
# Generate accuracy score
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.34335044315653174

In [139]:
# Create our features (without columns ef_government (low correlation), and those in the original happiness dataset)
X = year_2016.drop(columns=['ef_government','happiness_score','economy_gdp_per_capita',
       'family', 'health_life_expectancy', 'freedom',
       'trust_government_corruption', 'generosity', 'dystopia_residual'], axis=1)
# Create our target
y = year_2016["happiness_score"]

In [140]:
# Scale the data
X = StandardScaler().fit_transform(X)
X

array([[-1.82886123, -1.10371706, -0.00770213, ..., -1.79590083,
        -2.09640048, -1.30811481],
       [ 0.63679025,  0.00433314,  0.3688697 , ..., -0.24746696,
         0.7732978 ,  0.5226944 ],
       [ 0.53907655,  0.65123927, -0.23406035, ...,  0.28555283,
         0.72486407, -0.69450142],
       ...,
       [ 0.22893001, -0.22431868,  0.23869878, ..., -0.47670139,
        -0.58284654, -0.78252496],
       [-1.39319847,  0.26713415, -1.67490218, ...,  0.04403646,
        -0.30435261,  0.14696488],
       [-1.77905963, -1.07012209, -0.51602192, ..., -0.64798377,
        -1.01875007, -1.33214536]])

In [141]:
# Perform the train, test, split of the data

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1)
X_train.shape

(88, 15)

In [142]:
# Create an instance of the linear regression model
model = LinearRegression()

In [143]:
# Fit the model (training the model)
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [144]:
# Generate predictions
y_pred = model.predict(X_test)
print(y_pred.shape)

(30,)

In [145]:
# Generate accuracy score
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.4511499085258175

Attempt to plot Correlation Matrix

In [ ]:
# Plot the overall confusion matrix
import seaborn as sn
corrMatrix = changed_columns.corr(method="kendall")
sn.heatmap(corrMatrix)